; config

[site]
name        = Missoula Adoptables
url         = http://missoulaadoptables.org
email       = info@missoulaadoptables.org
production  = false
pretty_urls = true
num_animals = 20 ; # of animals to display on the homepage

[paths]
upload_oath = pub/img/upload ; relative to the root

[database]
driver = mysql
host   = localhost
dbname = missoulaadoptables
user   = root
pass   =
